
<!DOCTYPE html>

<html>
<style>
table, th, td {
  border:1px solid black;
  margin-top: 20px;
}
</style>
<head>
    <title>title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Descrição</th>
        <th>Preço hora</th>
        <th>Data Início</th>
        <th>Data Fim</th>
    </tr>
    </thead>
    @{
        if (Model != null)
        {
            foreach (var Data in Model)
            {
                <tr>
                    <td>@Data.IdTarefa</td>
                    <td>@Data.Descricao</td>
                    <td>@Data.PrecoHora</td>
                    <td>@Data.DataHoraIni</td>
                    <td>@Data.DataHoraFim</td>

                </tr>
            }
        }
    }

</table>
</body>
</html>